.App {
  text-align: center;
}

img {
  max-width: 750px;
  height: 8rem;
}

h1 {
  color: #3A5FAA;
}

.shoppingcart {
  display: flex;
  flex-direction: column;
  margin: 2rem 30%;
  list-style: none;
  font-size: x-large;
  border: 2px solid black;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
}

.inventory {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  list-style: none;
  flex-wrap: wrap;
  margin-top: 10rem;
}